main{
    width: 100%;
}

.container{
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    gap:  30px;
}

.container img{
    width: 300px;
    height: 450px;
    border-radius: 20px;
}

.filme-info{
    display: flex;
    align-items: start;
    gap: 20px;
    flex-direction: column;
}

.filme-info h1{
    font-size: 40px;
    max-width: 100%;
}

.filme-info h2{
    font-size: 18px;
}

.filme-info p{
    font-size: 20px;
}

.filme-info span{
    font-size: 18px;
    
}

.buttons{
    display: flex;
    align-items: center;
    gap: 20px;
}

.buttons button,
.buttons a{
    background-color:  #032541;
    color: #fff;
    padding: 5px 25px;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}