header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    gap: 10px;
    background-color: #032541;
    color: #fff;
}

.logo {
    text-decoration: none;
    font-size: 40px;
    color: #fff;
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: #fff;
    background-color: #032541;
    box-shadow: 0px 1px 5px 1px white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
}


@media (max-width: 576px) {
    .logo{
        
        font-size: 23px;
    }

    .link{
        font-size: 11px;
        padding: 10px 20px;
    }

}