header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background-color: #032541;
    color: #fff;
}

.link {
    text-decoration: none;
    color: #fff;
    background-color: rgb(19, 19, 231);
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
}
